{% extends 'base.html' %}

{% block title %}Event List{% endblock %}

{% block content %}

<div class="block-content mt-4" id="events">
    <!-- Section Title -->
    <div class="mb-4 text-center">
        <h2 class="fw-bold">No plans this week? Pick one... <br>...and meet your next friends!</h2>
        <p>
            From pique-niques to techno parties, we do our best to organize events for every vibe, age, and interest. 
            Our organizers make sure you’ll always find the perfect match, no matter your mood or preferences. 
            Feeling shy? Don’t worry – our events are designed to make you feel welcome from the start.
        </p>
    </div>

    <!-- Event Cards -->
    <div class="row g-4">
        {% for event in events %}
        <div class="col-md-3">
            <a href="{% url 'event_detail' event_id=event.id %}" class="event-card">
                <div class="event-card-image" style="background-image: url('{{ event.image.url }}');">
                    <div class="event-card-overlay">
                        <h3 class="event-card-title">{{ event.title }}</h3>
                        <p class="event-card-date">{{ event.date|date:"d/m/Y" }}</p>
                        <a href="{% url 'event_detail' event_id=event.id %}" class="btn-cta">Come With Us</a>
                    </div>
                </div>
            </a>
        </div>        
        {% endfor %}
    </div>
</div>

{% endblock %}
