
{% extends 'base.html' %}

{% block title %}Liste des événements{% endblock %}
{% block header_title %}Liste des événements{% endblock %}

{% block content %}
<h2 class="mb-4">Événements à venir</h2>
<div class="row">
    {% for event in events %}
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">Date : {{ event.date }}</p>
                <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">Voir les détails</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <a href="{% url 'create_event' %}">Créer un événement</a>
</div>
{% endblock %}
