
{% extends "home/base.html" %}
{% block content %}
<!-- ==============================================
News Feed Section
=============================================== --> 
<section class="profile" style="background-image: url({{ MEDIA_URL }}{{ member_profile.cover_pic.url }}); background-size: cover; background-repeat: no-repeat; background-position: center center;">
	<div class="container-fluid">
		<div class="row">
		</div><!--/ row-->   
	</div><!--/ container -->
</section><!--/ profile -->

<!-- ==============================================
User Profile Section
=============================================== --> 
<section class="user-profile">
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-12">
				<div class="post-content">
					<div class="author-post text-center">
						<a href="#"><img class="img-fluid img-circle" src="{{ MEDIA_URL }}{{ profile.profile_pic.url }}" alt="Image"></a>
					</div><!-- /author -->
				</div><!-- /.post-content -->        
			</div><!-- /col-sm-12 -->

		</div><!--/ row-->   
	</div><!--/ container -->
</section><!--/ profile -->

<!-- ==============================================
User Profile Section
=============================================== --> 
<section class="details">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<div class="details-box row">
					<div class="col-lg-9">
						<div class="content-box">
							<h4>{{ user.username }}</i></h4>
							<p>{{ profile.age }} ans</p>
							{% if my_profile %}
							<button class="kafe-btn kafe-btn-mint">
								<a href="{% url 'edit_profile' %}">Éditer mon profil</a>
							</button>
							{% endif %}
						</div><!--/ media -->
					</div> 
				</div><!--/ details-box -->

			</div>
		</div>
	</div>
</section>
<!-- ==============================================
Home Menu Section
=============================================== -->    
<section class="home-menu">
	<div class="container">
		<div class="row">

		</div><!--/row -->
	</div><!--/container -->
</section><!--/home-menu -->   
{% endblock %}