{% extends "home/base.html" %}

{% block content %}
<section class="login">
<div class="container">
<div class="banner-content">

<form method="post" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-12 center-block">
                <button id="singlebutton" name="singlebutton" type="submit" class="waves-effect  pink accent-3 waves-light btn">GO</button>
            </div>
        <p><b>Vous avez déjà un compte ? Cliquez <a href='/login'>ici</a></b></p>
        <p>En vous inscrivant, vous acceptez nos conditions générales d'utilisation.</p>
</form>

</div><!--/. banner-content -->
</div><!-- /.container -->
</section> 
{% endblock %}