@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap');

h1, h2, h3 {
    font-family: 'Judson', serif;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
    line-height: 1.4;
}

.hero-image h1 {
    color: white;
    font-size: 2.2rem;
}

.hero-image p {
    font-size: 1.1rem;
}

.hero-image {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px); /* Hauteur ajustée pour tenir compte de la navbar */
    background-image: url("/static/images/hero.jpg");
    background-size: cover; /* L'image couvre tout le container */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite les répétitions */
}

.navbar {
    --navbar-height: 60px; /* Ajuste cette valeur en fonction de la hauteur réelle de ta navbar */
}

.hero-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Prend toute la hauteur de .hero-image */
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Ajoute un overlay sombre pour améliorer la lisibilité du texte */
}

.hero-overlay h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-overlay p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-overlay a {
    font-size: 1.1rem;
    padding: 10px 20px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.9rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Styles globaux */
body {
    background-color: #F5EFE6; /* Fond beige */
    font-family: 'Source Sans Pro', 'Open Sans', sans-serif; /* Polices mises à jour */
    color: #333;
}

main {
    padding-bottom: 30px;
}

#logout {
    color: red !important;
    font-size: 12px;
}

form.rounded {
    background-color: white;
}

.form-check-input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 30px;
}

.form-check-label {
    font-weight: bold;
    cursor: pointer;
}

a {
    font-weight: bold;
    color: #FC6C85;
}

.border h2 {
    font-size: 20px;
}

.block-content {
    padding-top: 50px;
    padding-bottom: 100px;
}

/* Barre de navigation */
.navbar {
    background-color: #E9B8B1; /* Couleur rose */
    border-bottom: 2px solid #333;
}

.navbar-brand {
    font-weight: bold;
    color: #333 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-nav .nav-link {
    color: #333 !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.navbar-nav .nav-link:hover {
    color: #7A5244 !important; /* Brun légèrement plus foncé pour hover */
}

/* Pied de page */
footer {
    background-color: #192d5a; /* Fond bleu */
    color: #fff;
    padding: 10px 0;
    font-size: 12px;
    border-top: 2px solid #333;
}

footer p, footer ul, footer a {
    font-family: 'Source Sans Pro', sans-serif;
}

.img-fluid {
    border: 2px solid #333;
}

footer h5 {
    font-family: 'Judson', serif !important;
    color: #b4dcff !important;
}

footer .col-md-4:nth-child(1), .col-md-4:nth-child(2) {
    border-right: 1px solid white;
    padding-right: 15px;
}

.footer-links {
    font-size: 0.9rem; /* Taille plus petite */
    margin-top: 10px;
    color: #ccc; /* Couleur légèrement grisée */
}

.footer-links a {
    font-weight: normal; /* Pas en gras */
    text-decoration: none;
    color: #ccc; /* Harmonise avec la couleur de la section */
}

.footer-links a:hover {
    text-decoration: underline; /* Souligne au survol pour une meilleure accessibilité */
    color: #fff; /* Change de couleur au survol pour plus de visibilité */
}

/* Cartes */
.card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card img {
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FC6C85;
}

/* Boutons */
.btn-primary {
    background-color: #D8A097; /* Couleur rose */
    border: 2px border #192d5a;
    font-weight:bold;
    transition: background-color 0.3s ease;
    color: #192d5a;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #192d5a;
    color: #fff;
}

/* Événements */
.event-card {
    text-decoration: none;
    color: inherit;
}

.event-card-image {
    position: relative;
    width: 100%;
    height: 285px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.event-card-overlay {
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7); /* Contraste légèrement amélioré */
    color: #fff;
    text-align: center;
}

.event-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.event-card-date {
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 5px;
}

/* Profils */
.profile-card {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
}

.profile-card img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-card h2 {
    font-size: 1.5rem;
    color: #FC6C85;
    margin-bottom: 10px;
}

.profile-card p {
    font-size: 1rem;
    color: #666;
}

/* Logo dans la navbar */
.navbar img {
    height: 30px !important;
    margin-right: 10px;
    mix-blend-mode: multiply;
}

.thick-box {
    border: 2px solid #333 !important;
    background-color: white;
    margin-top: 100px;
}

.thick-box p {
    font-size: 0.9em;
}

.avatar-rounded {
    width: 150px; /* Taille fixe pour le cercle */
    height: 150px; /* Hauteur égale pour former un cercle */
    border-radius: 50%; /* Rond */
    object-fit: cover; /* Conserve les proportions de l'image */
    object-position: center; /* Centre l'image */
    border: 3px solid #FC6C85; /* Ajout d'une bordure pour le style */
    margin: 0 auto; /* Centrer l'avatar */
    display: block; /* S'assurer que c'est un bloc pour le centrage */
}

.avatar-img {
    width: 40px; /* Taille fixe */
    height: 40px; /* Taille fixe égale pour un carré parfait */
    border-radius: 50%; /* Rend l'image ronde */
    object-fit: cover; /* Ajuste l'image pour remplir le conteneur sans déformation */
    object-position: center; /* Centre l'image */
    border: 2px solid #FC6C85; /* Optionnel : Ajoute une bordure pour le style */
}

.event-image {
    max-height: 400px; /* Limite la hauteur à 400px */
    width: 100%; /* L'image occupe toute la largeur disponible */
    object-fit: cover; /* Recadre l'image pour qu'elle remplisse le conteneur sans déformation */
    object-position: center; /* Centre l'image si elle est recadrée */
}

.faq-section {
    background-color: #b4dcff;
    padding: 50px 0;
    border-top: 2px solid #333;
}

.accordion-item {
    border: 2px solid #333;
}

.accordion-button {
    background-color: white;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}

.accordion-button::after {
    display: none;
}

.faq-plus-icon {
    font-size: 1.5rem;
    color: #333;
    margin-right: 10px;
}

.accordion-body {
    background-color: white;
    color: #333;
    padding: 15px;
    font-size: 0.9rem;
    line-height: 1.6;
}

.accordion-button:not(.collapsed) .faq-plus-icon {
    content: "-";
    transform: rotate(45deg);
}

/* Encarts de mode d'emploi */
.quick-guide-card {
    background-color: white;
    border: 2px solid #333; /* Contour noir */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Permet de garder une hauteur uniforme */
}

.quick-guide-card .guide-number {
    font-size: 2rem;
    font-weight: bold;
    color: #192d5a; /* Couleur bleue spécifique */
    margin-bottom: 10px;
}

.quick-guide-card .guide-text {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}

.profile-card .fa-map-marker-alt {
    font-size: 1.2rem;
}

.profile-card .d-flex {
    font-size: 1.1rem;
    color: #333;
}

.wide-container {
    max-width: 80%;
    margin: 0 auto;
}